# Ignore dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Build outputs
dist
build

# Git & Docker files
.git
.gitignore
Dockerfile
.dockerignore

# Local environment & configs
.env
.env.local
*.log
